# Local Directory for storing data from the data sources will be mapped to docker image
ORION_STORAGE='~/ORION_root/storage/'
# Local Directory location for storing logs, will be mapped to docker image
ORION_LOGS='~/ORION_root/logs/'
# Local Directory location for storing graphs, will be mapped to docker image
ORION_GRAPHS='~/ORION_root/graphs/'
# Name of the Graph Spec file located in the graph_specs directory
ORION_GRAPH_SPEC='example-graph-spec.yaml'
# URL pointing to the Graph Spec file. Keep either ORION_GRAPH_SPEC Or 
# ORION_GRAPH_SPEC_URL='https:\/\/stars.renci.org\/var\/data_services\/graph_specs\/default-graph-spec.yaml'
SHARED_SOURCE_DATA_PATH=/tmp/shared_data

# The following variables are optional
# EDGE_NORMALIZATION_ENDPOINT=https://bl-lookup-sri.renci.org/
# NODE_NORMALIZATION_ENDPOINT=https://nodenormalization-sri.renci.org/
# NAMERES_URL=https://name-resolution-sri.renci.org/
# SAPBERT_URL=https://babel-sapbert.apps.renci.org/
# LITCOIN_PRED_MAPPING_URL=https://pred-mapping.apps.renci.org/
# ORION_OUTPUT_URL=https://localhost/  # this is currently only used to generate metadata
# BL_VERSION=4.2.1

# OPENAI_API_KEY=fake-key-do-not-commit-a-real-one!!!
# OPENAI_API_ORGANIZATION=fake-org-do-not-commit-a-real-one!!!
