version: "3.7"
services:
  data_services:
    platform: linux/amd64
    build:
      context: .
    command: [python, /Data_services/Common/build_manager.py, all]
    environment:
      - DATA_SERVICES_STORAGE=/Data_services_storage
      - DATA_SERVICES_GRAPHS=/Data_services_graphs
      - DATA_SERVICES_LOGS=/Data_services_logs
      - DATA_SERVICES_GRAPH_SPEC
      - DATA_SERVICES_GRAPH_SPEC_URL
      - DATA_SERVICES_OUTPUT_URL
      - DATA_SERVICES_NEO4J_PASSWORD
      - EDGE_NORMALIZATION_ENDPOINT
      - NODE_NORMALIZATION_ENDPOINT
      - PHAROS_DB_HOST
      - PHAROS_DB_USER
      - PHAROS_DB_PASSWORD
      - PHAROS_DB_NAME
      - PHAROS_DB_PORT
      - DRUGCENTRAL_DB_HOST
      - DRUGCENTRAL_DB_USER
      - DRUGCENTRAL_DB_PASSWORD
      - DRUGCENTRAL_DB_NAME
      - DRUGCENTRAL_DB_PORT
    volumes:
      - .:/Data_services
      - "${DATA_SERVICES_STORAGE}:/Data_services_storage"
      - "${DATA_SERVICES_GRAPHS}:/Data_services_graphs"
      - "${DATA_SERVICES_LOGS}:/Data_services_logs"
    user: 7474:7474
