services:
  orion:
    build:
      context: .
    command: [python, /ORION/Common/build_manager.py, all]
    environment:
      - ORION_STORAGE=/ORION_storage
      - ORION_GRAPHS=/ORION_graphs
      - ORION_LOGS=/ORION_logs
      - ORION_GRAPH_SPEC
      - ORION_GRAPH_SPEC_URL
      - ORION_OUTPUT_URL
      - EDGE_NORMALIZATION_ENDPOINT
      - NODE_NORMALIZATION_ENDPOINT
      - NAMERES_URL
      - SAPBERT_URL
      - BL_VERSION
      - PHAROS_DB_HOST
      - PHAROS_DB_USER
      - PHAROS_DB_PASSWORD
      - PHAROS_DB_NAME
      - PHAROS_DB_PORT
      - DRUGCENTRAL_DB_HOST
      - DRUGCENTRAL_DB_USER
      - DRUGCENTRAL_DB_PASSWORD
      - DRUGCENTRAL_DB_NAME
      - DRUGCENTRAL_DB_PORT
    volumes:
      - .:/ORION
      - "${ORION_STORAGE}:/ORION_storage"
      - "${ORION_GRAPHS}:/ORION_graphs"
      - "${ORION_LOGS}:/ORION_logs"
    user: 7474:7474
    

