pandas>=2.3.3
openpyxl>=3.1.5
requests>=2.32.5
requests-toolbelt>=1.0.0
pytest>=8.4.2
robokop-genetics>=0.7.0
# intermine is on pypi but as of 6/23 it's broken for python 3.10+, this fork fixes the issue
git+https://github.com/EvanDietzMorris/intermine-ws-python.git
jsonlines>=4.0.0
pyyaml>=6.0.1
beautifulsoup4>=4.12.3
psycopg2-binary>=2.9.9
orjson>=3.11.3
xxhash>=3.6.0
mysql-connector-python>=9.4.0
neo4j>=5.28.0
pyoxigraph>=0.3.22
curies>=0.7.9
prefixmaps>=0.2.4
bmt>=1.4.6
python-dotenv>=1.0.1
polars>=1.19.0
celery>=5.4.0
