pandas==2.2.2
openpyxl==3.1.5
requests==2.32.4
requests-toolbelt>=1.0.0
pytest==8.2.0
robokop-genetics==0.6.2
# intermine is on pypi but as of 6/23 it's broken for python 3.10+, this fork fixes the issue
git+https://github.com/EvanDietzMorris/intermine-ws-python.git
jsonlines==4.0.0
pyyaml==6.0.1
beautifulsoup4==4.12.3
psycopg2-binary==2.9.9
openpyxl
orjson==3.10.3
xxhash==3.4.1
mysql-connector-python==9.1.0
neo4j==5.20.0
pyoxigraph==0.3.22
curies==0.7.9
prefixmaps==0.2.4
bmt==1.4.3
python-dotenv==1.0.1
polars==1.19.0
celery==5.4.0
redis==5.2.1
